.button {
  &.buttonOutlined {
    background-color: var(--green);
    border-radius: 6px;
    border: 1px solid transparent;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    padding: 20px 30px;

    &:hover {
      background-color: var(--green-light);
      border: 1px solid transparent;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .progressBar {
    position: absolute;
  }

  .loading {
    background-color: var(--red);
  }
}

.secondary {
  &.buttonOutlined {
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--green);
    color: var(--green);
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    padding: 24px 30px;

    &:hover {
      background-color: var(--green-light);
      border: 1px solid var(--green-light);
      color: var(--white);
    }
  }
}
