@import "../../../styles/breakpoints";

.container {
  margin: 34px auto 0;

  .table {
    max-height: 450px;
    overflow-y: auto;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 8px;

      td {
        padding: 20px 10px;
        background-color: var(--gray-300);
        color: var(--white);

        &:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }

        &:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }

      .income {
        color: var(--green-light);
      }

      .outcome {
        color: var(--red);
      }
    }
  }
}

@include media-lg {
  .container {
    margin: 64px auto 0;

    .table {
      table {
        td {
          padding: 20px 32px;
        }
      }
    }
  }
}
