.container {
  background-color: var(--background);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 120px 0;

    .logoAndName {
      display: flex;
      align-items: center;

      h1 {
        color: var(--white);
        font-size: 26px;
      }
    }
  }
}
